{
    "printWidth": 160,
    "singleAttributePerLine": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn", "cva"]
}
